<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1", width="device-width"/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <!--creates a navigation bar-->
        <nav class="navbar navbar-expand-lg">
            <!--sets the class to be the collapse (grouping content based on parent breakpoints)-->
            <a class="navbar-brand" href="#">Navbar</a>
            <!--creates the navbar toggler-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- creates the holder for all the links-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Register<span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="#">Register<span class="sr-only">(current)</span></a>
                </div>             
            </div>
        </nav>
        hello
    </body>

</html>